/* PHASE 12: Modal */
.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}

.modal-form {
    position: absolute;
    top: 12%;
    bottom: 49%;
    left: 37%;
    right: 0;
    z-index: 2;
}

.form-fieldset h1 {
  font-size: 36px;
  line-height: 1;
  font-weight: 300;

}


.form-fieldset p {
  margin: 0 0 20px 0;
}

.pop-out{
  width:360px;
}

#close{
  float: right;
  font-size: 36px;
  margin-top: -15px;
}

#close:hover{
  float: right;
  font-size: 36px;
  margin-top: -15px;
  color:red;
}


.modal.is-open {
    display: block;
}

.modal {
  display: none;
}
